<ion-header>
  <ion-toolbar>
    <ion-title>
      MEDEPÉ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
<ion-img src="../assets/icon/adidas-harden-vol-1-all-star-no-brakes-for-sale-6.jpg"></ion-img>
    <ion-button  expand="block" color="success" href="calculo">Calcular Novamente</ion-button>
      <ion-button  expand="block" color="danger" href="relato">Reclamar de algum tenis</ion-button>
      <ion-button (click)="listar2()" expand="block" color="medium" href="listar2" >Ver outros usuários</ion-button>


</div>
</ion-content>
