<ion-header>
  <ion-toolbar>
    <ion-title>
    CALCULO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


   <p>Meça da seguinte maneira:<p>

    <ion-img src="../assets/icon/Screenshot_298.png"></ion-img>
    <p><b>Qual o comprimento do seu pé?</b></p>
    <ion-button (click)="a()" expand='block' color="success" href="resultado" > 21,4  a  22 </ion-button>
    <ion-button (click)="b()" expand='block' color="success" href="resultado" > 22,1 a 22,7 </ion-button>
    <ion-button (click)="c()" expand='block' color="success" href="resultado" > 22,8 a 23,3 </ion-button>
    <ion-button (click)="d()" expand='block' color="success" href="resultado" > 23,4  a  24 </ion-button>
    <ion-button (click)="e()" expand='block' color="success" href="resultado" > 24,1 a 24,8 </ion-button>
    <ion-button (click)="f()" expand='block' color="success" href="resultado" > 24,9 a 25,5 </ion-button>
    <ion-button (click)="g()" expand='block' color="success" href="resultado" > 25,6 a 26,1 </ion-button>
    <ion-button (click)="h()" expand='block' color="success" href="resultado" > 26,2 a 26,8 </ion-button>
    <ion-button (click)="i()" expand='block' color="success" href="resultado" > 26,9 a 27,5 </ion-button>
    <ion-button (click)="j()" expand='block' color="success" href="resultado" > 27,6  a  28 </ion-button>
    <ion-button (click)="k()" expand='block' color="success" href="resultado" > 28,1 a 28,7 </ion-button>
    <ion-button (click)="l()" expand='block' color="success" href="resultado" > 28,8 a 29,4</ion-button>
    <ion-button (click)="m()" expand='block' color="success" href="resultado" > 29,5  a  30 </ion-button>
    <ion-button (click)="n()" expand='block' color="success" href="resultado" > 30  a  30,5 </ion-button>
    <ion-button (click)="o()" expand='block' color="success" href="resultado" > 30,5  a  31 </ion-button>





<ion-button  expand="block" color="primary" href="home">Voltar a tela de login</ion-button>




</ion-content>
