<ion-header>
  <ion-toolbar>
    <ion-title>
      MEDEPÉ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <p><b>Login</b></p>
    <ion-input [(ngModel)]="usuario.email"></ion-input>
      <p><b>Senha</b></p>
    <ion-input [(ngModel)]="usuario.senha"></ion-input>


  <ion-button  expand="block" color="primary" href="cadastro" > Cadastre-se </ion-button>
    <ion-button (click)="logar()"  expand="block" color="success">Entrar</ion-button>

  <ion-img src="../assets/icon/Screenshot_294.png"></ion-img>

</div>
</ion-content>
